* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.body{

}

:root {
  --color-primario: #e84d3b;
}
.header {
  height: 60px;
  background: -webkit-linear-gradient(left, var(--color-primario), #ee9389);
  display: flex;
  padding: 0px 50px;
  box-shadow: darkred 0px 0px 20px;
}
.header__navegacion {
  flex: 1;

  display: flex;
}
.header__logo {
  width: 200px;
  /* background-color: #ee9389; */
  text-align: center;
  padding: 10px 0px;
}
.header__lista {
  flex: 1px;
  list-style: none;
  display: flex;
 
}
.header_item{
    flex: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.header_item:hover{
    background-color:var(--color-primario);
    flex: 1.3;
}
.header__link{
    text-decoration: none;
    color: white;
}
.header__logo img{
height: 100%;

}
