* {
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  background: -webkit-linear-gradient(top, #000428, #004092);
}
.section1 {
  height: 200px;
  width: 200px;
  border: 1px solid orangered;
  background: -webkit-linear-gradient(top, #3bbf86, #1b656d, #9cbf3b);
}
.section2 {
  height: 200px;
  width: 400px;
  border: 1px solid orangered;
  background: -webkit-radial-gradient(center, ellipse, #1b656d, #9cbf3b);
}
