.Formulario-personal{
background: cornflowerblue;
}
/*Todos los elementos input que esten dentro de un elemento que tenga clase .formulario-personal*/
.Formulario-personal input{
  border-radius: 10px;  
}
.Formulario-externo{
    background: darkkhaki;
}
section{
    background: greenyellow;
}
.letramorada{
    color: mediumblue;
}
.subrayado{
    text-decoration: underline;
}
#inputgoogle{
    background: gray;
}
